<div class="row">
  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Sign Up</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div >
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" id="firstName">
      </div>
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" id="lastName">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email">
      </div>
      <div >
        <label for="gender">Gender:</label>            
        <ng-select formControlName="gender" id="gender" [items]="genderItems" bindValue="id" bindLabel="title"></ng-select>
      </div>
      <div >
        <label for="password">Password:</label>
        <input type="password" formControlName="password" id="password">
      </div>
      <div >
        <label for="passwordConfirmation">Password Confirmation:</label>
        <input type="password" formControlName="passwordConfirmation" id="passwordConfirmation">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
  </div>
</div>