<div class="row">
    <div class="col-md-6 login-container">
      <h2 style="margin: auto">Change Password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div >
          <label for="currentPassword">Current Password:</label>
          <input type="password" formControlName="currentPassword" id="currentPassword">
        </div>
        <div >
          <label for="newPassword">New Password:</label>
          <input type="password" formControlName="newPassword" id="newPassword">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="changePasswordForm.invalid">Change Password</button>
      </form>
    </div>
</div>